@font-face {
    font-family: 'Souvenir';
    src: url("../fonts/Souvenir-Medium.otf");
}
  
  @font-face {
    font-family: 'Alfa';
    src: url("../fonts/AlfaSlabOne-Regular.ttf");
}

* {
    font-family: "Souvenir";
}

h1,h2 {
    font-family: "Alfa";
}
  

.container {
    position: relative;
    width: 25%;
    padding: 0;
}

.project-img {
    opacity: 1;
    display: block;
    width: 50%;
    height: auto;
    /* transition: .5s ease; */
    backface-visibility: hidden;
    mask-image: url(#tf-mask);
}

#tf-mask {
    width: 48.5%;
    left: 11px;
}

.mask {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0;
    height: 100%;
    width: 50%;
    /* text-align: center; */
    background: linear-gradient(45deg,#ffd6ff, #bbd0ff);
}

.mask:hover {
    opacity: .9;
}

.text {
    background-color: linear-gradient(45 deg, #ffd6ff, #bbd0ff, 100%);
    color: black;
    font-size: 16px;
    padding: 16px 32px;
}

.inner-img {
    width: 10%;
    border-radius: 5px;
    opacity: .5;
    transition: .5s ease;
}

.inner-img:hover {
    opacity: 1;
}

.inner-btn {
    background-color: transparent;
}
