{% extends 'base.html' %}

{% block title %} Steven's Minigames {% endblock %}
{% block content %}
    <h1>Steven's Minigames</h1>
    <p>A collection of my minigames and minigame solvers.</p>
    <h2>Solvers</h2>
    <p>Currently, I have created a solver for the 24 Game, Sudoku, and the discord game Spellcast.</p>
    <p>These games were solved in C++, and utilized Algorithmic techniques such as backtracking.</p>

    <!-- <br>
    <div class="container">
        <img class="project-img img-fluid" id="tf-img" src="{{ url_for('static', filename='img/24game.jpg' ) }}" alt="HELP">
        <div class ="mask" id="tf-mask">
            <div class="text">
                <h2>24 Game Solver</h2>
                <p>A website that finds all the solutions to a set of numbers in the popular 24 Game, where the objective is to find a way to multiply, add, subtract, and divide all of the numbers in a way to reach 24.</p>
                <a href="https://twenty-four-game-solver.herokuapp.com/" class="inner-btn"><img class="inner-img" src="{{ url_for('static', filename='img/link.png' ) }}" alt="RIP"></a>
                <a href="https://github.com/StevenAHan/24SolverWebsite" class="inner-btn"><img class="inner-img" src="{{ url_for('static', filename='img/github.png' ) }}" alt="RIP"></a>
            </div>
        </div>
    </div> -->

    {% endblock %}