{% extends 'base.html' %}

{% block title %} Steven's Minigames {% endblock %}
{% block content %}
    <h1>ML Rock Paper Scissors (WIP)</h1>

    <p>Play the simple game rock paper scissors against a learning agent that will learn from your moves, and try to predict what you will play next.</p>

    <p>Currently only supports single session memory, so it will only learn from the moves you make without refreshing.</p>

    <p>To begin, type your account name and press the start button:</p>
    
    <a id="start" class="btn btn-primary" href="/rps/start">Start</a>

    

    {% endblock %}