{% extends 'base.html' %}

{% block title %} Spellcast Solver {% endblock %}}
{% block content %}
    <h1>Spellcast Solver(WIP)</h1>
    <p>A Solver for the Discord Nitro Activity, Spellcast. Will return the best word to use given the board.</p>
        <br>
        <div class="main">
          <form action="/spellcast_solver" method="post">
          <div class="form-group">
            <label for="letters">Enter in the Letters, separating the rows with spaces:</label>
            <input type="text" name="letters" placeholder="ex: abcdefghijlmnop..." class="Inputs"></input>

            <label for="unique-tiles">Enter in the Unique Tiles(Instructions WIP):</label>
            <input type="text" name="unique-tiles" placeholder="ex: 00 002" class="Inputs"></input>
          </div>



          <div class="form-group">
            <button type="submit" class="btn btn-primary">Check For Answer</button>
          </div>

          <div> 
            <p class="ans"> {{ output }} </p>
          </div>
        
{% endblock %}