{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sudokuStyle.css' ) }}">
{% endblock %}

{% block title %} Sudoku Solver {% endblock %}
{% block content %}
    <h1>Sudoku Solver</h1>
    <p>Insert the Incomplete Sudoku Board:</p>



    <div class="main">
        <form action="/sudoku_solver" method="post">

        <table class="the-table">
            <tr>
                <td><input name="cell1" class="tblinput" type="text"></td>
                <td><input name="cell2" class="tblinput" type="text"></td>
                <td><input name="cell3" class="tblinput" type="text"></td>
                <td><input name="cell4" class="tblinput" type="text"></td>
                <td><input name="cell5" class="tblinput" type="text"></td>
                <td><input name="cell6" class="tblinput" type="text"></td>
                <td><input name="cell7" class="tblinput" type="text"></td>
                <td><input name="cell8" class="tblinput" type="text"></td>
                <td><input name="cell9" class="tblinput" type="text"></td>
            </tr>

            <tr>
                <td><input name="cell10" class="tblinput" type="text"></td>
                <td><input name="cell11" class="tblinput" type="text"></td>
                <td><input name="cell12" class="tblinput" type="text"></td>
                <td><input name="cell13" class="tblinput" type="text"></td>
                <td><input name="cell14" class="tblinput" type="text"></td>
                <td><input name="cell15" class="tblinput" type="text"></td>
                <td><input name="cell16" class="tblinput" type="text"></td>
                <td><input name="cell17" class="tblinput" type="text"></td>
                <td><input name="cell18" class="tblinput" type="text"></td>
            </tr>

            <tr>
                <td><input name="cell19" class="tblinput" type="text"></td>
                <td><input name="cell20" class="tblinput" type="text"></td>
                <td><input name="cell21" class="tblinput" type="text"></td>
                <td><input name="cell22" class="tblinput" type="text"></td>
                <td><input name="cell23" class="tblinput" type="text"></td>
                <td><input name="cell24" class="tblinput" type="text"></td>
                <td><input name="cell25" class="tblinput" type="text"></td>
                <td><input name="cell26" class="tblinput" type="text"></td>
                <td><input name="cell27" class="tblinput" type="text"></td>
            </tr>

            <tr>
                <td><input name="cell28" class="tblinput" type="text"></td>
                <td><input name="cell29" class="tblinput" type="text"></td>
                <td><input name="cell30" class="tblinput" type="text"></td>
                <td><input name="cell31" class="tblinput" type="text"></td>
                <td><input name="cell32" class="tblinput" type="text"></td>
                <td><input name="cell33" class="tblinput" type="text"></td>
                <td><input name="cell34" class="tblinput" type="text"></td>
                <td><input name="cell35" class="tblinput" type="text"></td>
                <td><input name="cell36" class="tblinput" type="text"></td>
            </tr>

            <tr>
                <td><input name="cell37" class="tblinput" type="text"></td>
                <td><input name="cell38" class="tblinput" type="text"></td>
                <td><input name="cell39" class="tblinput" type="text"></td>
                <td><input name="cell40" class="tblinput" type="text"></td>
                <td><input name="cell41" class="tblinput" type="text"></td>
                <td><input name="cell42" class="tblinput" type="text"></td>
                <td><input name="cell43" class="tblinput" type="text"></td>
                <td><input name="cell44" class="tblinput" type="text"></td>
                <td><input name="cell45" class="tblinput" type="text"></td>
            </tr>

            <tr>
                <td><input name="cell46" class="tblinput" type="text"></td>
                <td><input name="cell47" class="tblinput" type="text"></td>
                <td><input name="cell48" class="tblinput" type="text"></td>
                <td><input name="cell49" class="tblinput" type="text"></td>
                <td><input name="cell50" class="tblinput" type="text"></td>
                <td><input name="cell51" class="tblinput" type="text"></td>
                <td><input name="cell52" class="tblinput" type="text"></td>
                <td><input name="cell53" class="tblinput" type="text"></td>
                <td><input name="cell54" class="tblinput" type="text"></td>
            </tr>

            <tr>
                <td><input name="cell55" class="tblinput" type="text"></td>
                <td><input name="cell56" class="tblinput" type="text"></td>
                <td><input name="cell57" class="tblinput" type="text"></td>
                <td><input name="cell58" class="tblinput" type="text"></td>
                <td><input name="cell59" class="tblinput" type="text"></td>
                <td><input name="cell60" class="tblinput" type="text"></td>
                <td><input name="cell61" class="tblinput" type="text"></td>
                <td><input name="cell62" class="tblinput" type="text"></td>
                <td><input name="cell63" class="tblinput" type="text"></td>
            </tr>

            <tr>
                <td><input name="cell64" class="tblinput" type="text"></td>
                <td><input name="cell65" class="tblinput" type="text"></td>
                <td><input name="cell66" class="tblinput" type="text"></td>
                <td><input name="cell67" class="tblinput" type="text"></td>
                <td><input name="cell68" class="tblinput" type="text"></td>
                <td><input name="cell69" class="tblinput" type="text"></td>
                <td><input name="cell70" class="tblinput" type="text"></td>
                <td><input name="cell71" class="tblinput" type="text"></td>
                <td><input name="cell72" class="tblinput" type="text"></td>
            </tr>

            <tr>
                <td><input name="cell73" class="tblinput" type="text"></td>
                <td><input name="cell74" class="tblinput" type="text"></td>
                <td><input name="cell75" class="tblinput" type="text"></td>
                <td><input name="cell76" class="tblinput" type="text"></td>
                <td><input name="cell77" class="tblinput" type="text"></td>
                <td><input name="cell78" class="tblinput" type="text"></td>
                <td><input name="cell79" class="tblinput" type="text"></td>
                <td><input name="cell80" class="tblinput" type="text"></td>
                <td><input name="cell81" class="tblinput" type="text"></td>
            </tr>

        </table>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Check For An Answer</button>
            <p>If there is no valid solutions, the resulting board will not load.</p>
        </div>

        <div>   
            <table class="the-table">
                {%for row in tbl%}
                   <tr>
                      {%for col in row%}
                        <td class="tblinput">{{col}}</td>
                      {%endfor%}
                   </tr>
                {%endfor%}
              </table>
        </div>
    </div>
{% endblock %}