{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sudokuStyle.css' ) }}">
{% endblock %}

{% block title %} Sudoku Solver {% endblock %}
{% block content %}
    <h1>Sudoku Solver</h1>
    <p>Insert the Incomplete Sudoku Board:</p>



    <div class="main">
        <form action="/sudoku_solver" method="post">

        <table class="the-table">
            <tr>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
            </tr>

            <tr>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
            </tr>

            <tr>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
            </tr>

            <tr>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
            </tr>

            <tr>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
            </tr>

            <tr>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
            </tr>

            <tr>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
            </tr>

            <tr>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
            </tr>

            <tr>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
                <td><input class="tblinput" type="text"></td>
            </tr>

        </table>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Check For An Answer</button>
            <p>If there is no valid solutions, it will return an incomplete board</p>
        </div>

        <div>   
            <table class="the-table">
                {%for row in tbl%}
                   <tr>
                      {%for col in row%}
                        <td class="tblinput">{{col}}</td>
                      {%endfor%}
                   </tr>
                {%endfor%}
              </table>
        </div>
    </div>
{% endblock %}