{% extends 'base.html' %}

  {% block title %} 24 Game Solver {% endblock %}
  {% block content %}
        <h1>24 Game Solver</h1>
        <br>
        <div class="main">
          <form action="/24solver" method="post">
          <div class="form-group">
            <label for="numbers">Enter in the Numbers, With a Space Between Each</label>
            <input type="text" name="numbers" placeholder="ex: 1 5 5 5" class="Inputs"></input>
          </div>
    
          <div class="form-group">
            <label for="show-ans">Show Answer(s)?</label>
            <input type="radio" name="show-ans" class="show-ans" value="y"></input>
            <label for="Yes">Yes</label>
            <input type="radio" name="show-ans" class="show-ans" value="n" checked></input>
            <label for="No">No</label>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Check For Answer(s)</button>
          </div>
          <div>
            {% for output in outputs %}   
            <p class="ans"> {{ output }} </p>
             {% endfor %}
          </div>
          </form>
        </div>
  {% endblock %}